@import '../../scss/variable.scss';

.container {
  width: 100%;
  height: 100vh;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;

  a {
    text-decoration: none;
    color: $color-carrot;
    &:hover {
      color: $color-sun;
      text-decoration: none;
    }
  }

  .headText {
    color: $color-sassy;
    font-size: 5em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: .7em;
  }

  .logo {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
