@import './variable.scss';
@import './function.scss';

@include font('RobotoRegular', '../assets/fonts/Roboto-Regular');
@include font('RobotoThin', '../assets/fonts/Roboto-Thin');

* {
  padding: 0px;
  margin: 0px;
  outline: none !important;
  box-shadow: none;
}

body {
  font-family: RobotoThin;
  color: $color-white;
  background-color: $color-midnight;
}
